In [11]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
data = pd.read_html('https://rate.bot.com.tw/xrt?Lang=zh-TW')

In [13]:
current_data = data[0]

In [14]:
current_data =  current_data.iloc[0:5,0:5]

In [15]:
current_data

                       幣別                       現金匯率          \
                       幣別 Unnamed: 1_level_1    本行買入    本行賣出
0      美金 (USD)  美金 (USD)             29.995  30.665  30.345
1      港幣 (HKD)  港幣 (HKD)              3.728   3.932   3.854
2      英鎊 (GBP)  英鎊 (GBP)              37.77   39.89   38.77
3      澳幣 (AUD)  澳幣 (AUD)              20.53   21.31    20.8
4  加拿大幣 (CAD)  加拿大幣 (CAD)              22.55   23.46   22.94

  Unnamed: 4_level_0
                本行買入
0             30.445
1              3.914
2              39.19
3              21.03
4              23.16

In [16]:
current_data.columns = ["幣別","現金匯率-本行買入","現金匯率-本行賣出","即期匯率-本行買入","即期匯率-本行賣出"]
current_data['幣別'] = current_data['幣別'].str.extract('\((\w+)\)')
current_data['現金匯率-本行買入'] = current_data['現金匯率-本行買入'].astype('float64') 
current_data['現金匯率-本行賣出'] = current_data['現金匯率-本行賣出'].astype('float64') 
current_data['即期匯率-本行買入'] = current_data['即期匯率-本行買入'].astype('float64') 
current_data['即期匯率-本行賣出'] = current_data['即期匯率-本行賣出'].astype('float64')

In [17]:
current_data

    幣別  現金匯率-本行買入  現金匯率-本行賣出  即期匯率-本行買入  即期匯率-本行賣出
0  USD     29.995     30.665     30.345     30.445
1  HKD      3.728      3.932      3.854      3.914
2  GBP     37.770     39.890     38.770     39.190
3  AUD     20.530     21.310     20.800     21.030
4  CAD     22.550     23.460     22.940     23.160

In [18]:
current_data['現金匯率-買賣匯差'] = current_data['現金匯率-本行賣出'] - current_data['現金匯率-本行買入']
current_data['即期匯率-買賣匯差'] = current_data['即期匯率-本行賣出'] - current_data['即期匯率-本行買入']

In [19]:
current_data

    幣別  現金匯率-本行買入  現金匯率-本行賣出  即期匯率-本行買入  即期匯率-本行賣出  現金匯率-買賣匯差  即期匯率-買賣匯差
0  USD     29.995     30.665     30.345     30.445      0.670       0.10
1  HKD      3.728      3.932      3.854      3.914      0.204       0.06
2  GBP     37.770     39.890     38.770     39.190      2.120       0.42
3  AUD     20.530     21.310     20.800     21.030      0.780       0.23
4  CAD     22.550     23.460     22.940     23.160      0.910       0.22